.center-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #22221a;
    color: rgb(228, 228, 228);
}